tr,td,th,table{
    border: 1px solid #383838;
    border-collapse: collapse;
    /* border-spacing: 20px; */
    /* padding: 5px; */
    text-align: center;
}

thead > tr > td{
    font-weight: 700;
}
caption{
    text-align: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select, button, textarea{
    width: fit-content;
}